page-inicio {
    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(8, 0, 0);
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: rgb(12, 0, 0);
          }
        
        }

       .titulo {
         color: #f70029;
         font-size: 25px;
         font-weight: bolder;
       }

       .LastNews__title{
        line-height: 2.3rem;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 700;
        color: #fff;
        background-color: #f70029;
        padding: 8px 10px;
       }
       .fa-angle-double-down:before {
        content: "\F103";
    }
}
