page-nota {
    .titulo {
        margin: 0;
        display: block;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 36px;
        text-overflow: ellipsis;
        white-space: normal !important;
      }

      ion-label{white-space: normal !important;
    text-align: justify;
    }

    .compartir{
        font-size: 30px !important;
    }

}
